<ion-header>
    <ion-toolbar>
        <ion-title style="width: 100%; text-align: center;">Catálogos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding="padding" class="getting-started">

    <ion-card>
        <img routerLink="/inicio" src="../assets/media/4.png" alt="">
    </ion-card>

    <ion-card (click)="note9()">
        <ion-card-header>
            <div style="width: 100%; text-align: center;">
                <img src="../assets/media/note9.jpg" style="width: 95%; border-radius: 20px" />
            </div>
            <ion-card-subtitle style="width: 100%; text-align: center;">Xiaomi Redmi Note 9 128gb Dual Sim</ion-card-subtitle>

            <ion-item-divider>
                <div style="width: 100%; text-align: center;">
                    <ion-card-title>
                        $228,89
                    </ion-card-title>
                </div>
            </ion-item-divider>
        </ion-card-header>
        <ion-card-content style="width: 100%; text-align: center;">
            RAM: 4 GB <br>Almacenamiento: 128 GB <br>Colores: Verde / Blanco / Negro / Gris
        </ion-card-content>
    </ion-card>


    <ion-card (click)="impresora()">
        <ion-card-header>
            <div style="width: 100%; text-align: center;">
                <img src="../assets/media/impresora.jpg" style="width: 95%; border-radius: 20px" />
            </div>
            <ion-card-subtitle style="width: 100%; text-align: center;">Impresora térmica de bolsillo</ion-card-subtitle>

            <ion-item-divider>
                <div style="width: 100%; text-align: center;">
                    <ion-card-title>
                        $26,25

                    </ion-card-title>
                </div>
            </ion-item-divider>
        </ion-card-header>

        <ion-card-content style="width: 100%; text-align: center;">
            Colores: Rosado / Turquesa
        </ion-card-content>
    </ion-card>

    <ion-card (click)="nokia()" ionic>
        <ion-card-header>
            <div style="width: 100%; text-align: center;">
                <img src="../assets/media/nokia.jpg" style="width: 95%; border-radius: 20px" />
            </div>
            <ion-card-subtitle style="width: 100%; text-align: center;">Celular Nokia 110 dual sim</ion-card-subtitle>

            <ion-item-divider>
                <div style="width: 100%; text-align: center;">
                    <ion-card-title>
                        $25,19

                    </ion-card-title>
                </div>
            </ion-item-divider>
        </ion-card-header>

        <ion-card-content style="width: 100%; text-align: center;">
            Colores: Negros / Gris
        </ion-card-content>
    </ion-card>

    <ion-card (click)="pova2()">
        <ion-card-header>
            <div style="width: 100%; text-align: center;">
                <img src="../assets/media/pova 2.jpg" style="width: 95%; border-radius: 20px" />
            </div>
            <ion-card-subtitle style="width: 100%; text-align: center;">Celular tecno pova 2 6gb, 128gb</ion-card-subtitle>

            <ion-item-divider>
                <div style="width: 100%; text-align: center;">
                    <ion-card-title>
                        $246,75

                    </ion-card-title>
                </div>
            </ion-item-divider>
        </ion-card-header>
        <ion-card-content style="width: 100%; text-align: center;">
            RAM: 6 GB <br>Almacenamiento: 128 GB <br>Colores: Plata / Azul / Negro
        </ion-card-content>
    </ion-card>


    <ion-card (click)="hot()">
        <ion-card-header>
            <div style="width: 100%; text-align: center;">
                <img src="../assets/media/hot 11s.png" style="width: 95%; border-radius: 20px" />
            </div>
            <ion-card-subtitle style="width: 100%; text-align: center;">CELULAR INFINIX HOT 11S 6GB RAM, 128GB MEMORIA INTERNA</ion-card-subtitle>

            <ion-item-divider>
                <div style="width: 100%; text-align: center;">
                    <ion-card-title>
                        $250,95

                    </ion-card-title>
                </div>
            </ion-item-divider>
        </ion-card-header>

        <ion-card-content style="width: 100%; text-align: center;">
            RAM: 6 GB <br>Almacenamiento: 128 GB <br>Colores: Verde / Negro
        </ion-card-content>
    </ion-card>

    <ion-card (click)="msi()" ionic>
        <ion-card-header>
            <div style="width: 100%; text-align: center;">
                <img src="../assets/media/msi.png" style="width: 95%; border-radius: 20px" />
            </div>
            <ion-card-subtitle style="width: 100%; text-align: center;">Laptop MSI Gaming, Core i7 10ma, 512gb, 16gb, RTX 2060 6GB, PRO</ion-card-subtitle>

            <ion-item-divider>
                <div style="width: 100%; text-align: center;">
                    <ion-card-title>
                        $1.993,95

                    </ion-card-title>
                </div>
            </ion-item-divider>
        </ion-card-header>

        <ion-card-content style="width: 100%; text-align: center;">
            RAM: 16 GB <br>Almacenamiento: 512 GB <br>Colores: Negro
        </ion-card-content>
    </ion-card>

    <ion-card (click)="hp()">
        <ion-card-header>
            <div style="width: 100%; text-align: center;">
                <img src="../assets/media/hp.jpg" style="width: 95%; border-radius: 20px" />
            </div>
            <ion-card-subtitle style="width: 100%; text-align: center;">Laptop HP AMD Ryzen 7, 8gb, 256gb, 15pulg</ion-card-subtitle>

            <ion-item-divider>
                <div style="width: 100%; text-align: center;">
                    <ion-card-title>
                        $943,95

                    </ion-card-title>
                </div>
            </ion-item-divider>
        </ion-card-header>
        <ion-card-content style="width: 100%; text-align: center;">
            RAM: 8 GB <br>Almacenamiento: 256 GB <br>Colores: Plata
        </ion-card-content>
    </ion-card>


    <ion-card (click)="lp()">
        <ion-card-header>
            <div style="width: 100%; text-align: center;">
                <img src="../assets/media/lp.jpg" style="width: 95%; border-radius: 20px" />
            </div>
            <ion-card-subtitle style="width: 100%; text-align: center;">Laptop Acer Gateway Ryzen 5, 256gb, 16gb, 15pulg, huella</ion-card-subtitle>

            <ion-item-divider>
                <div style="width: 100%; text-align: center;">
                    <ion-card-title>
                        $672,00

                    </ion-card-title>
                </div>
            </ion-item-divider>
        </ion-card-header>

        <ion-card-content style="width: 100%; text-align: center;">
            RAM: 16 GB <br>Almacenamiento: 256 GB <br>Colores: Morado
        </ion-card-content>
    </ion-card>

    <ion-card (click)="moga()" ionic>
        <ion-card-header>
            <div style="width: 100%; text-align: center;">
                <img src="../assets/media/moga.jpg" style="width: 95%; border-radius: 20px" />
            </div>
            <ion-card-subtitle style="width: 100%; text-align: center;">Game Pad MOGA Pro Power, amazon cuesta $39, mas vendido del mundo</ion-card-subtitle>

            <ion-item-divider>
                <div style="width: 100%; text-align: center;">
                    <ion-card-title>
                        $7,35

                    </ion-card-title>
                </div>
            </ion-item-divider>
        </ion-card-header>

        <ion-card-content style="width: 100%; text-align: center;">
            Colores: Negro
        </ion-card-content>
    </ion-card>
    <ion-card (click)="sd()" ionic>
        <ion-card-header>
            <div style="width: 100%; text-align: center;">
                <img src="../assets/media/sd.jpg" style="width: 95%; border-radius: 20px" />
            </div>
            <ion-card-subtitle style="width: 100%; text-align: center;">Micro sd SanDisk 128gb Ultra</ion-card-subtitle>

            <ion-item-divider>
                <div style="width: 100%; text-align: center;">
                    <ion-card-title>
                        $22,05

                    </ion-card-title>
                </div>
            </ion-item-divider>
        </ion-card-header>

        <ion-card-content style="width: 100%; text-align: center;">
            Capacidad: 128 GB <br>Velocidad de Transferencia: 80 MB/s
        </ion-card-content>
    </ion-card>
    <!-- <ion-app>
    <ion-nav root="nav-home"></ion-nav>
</ion-app> -->

    <ion-button expand="block" (click)="presentActionSheet()" ionic>Opciones</ion-button>

</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-title style="width: 100%; text-align: center;">Camacho - Flores</ion-title>
    </ion-toolbar>
</ion-footer>