<ion-header>
    <ion-toolbar>
        <ion-title style="width: 100%; text-align: center;">ECO-MOVIL</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding="padding" class="getting-started">
    <ion-card>
        <img routerLink="/inicio" src="../assets/media/4.png" alt="">
    </ion-card>
    <ion-item routerLink="/quienes-somos">
        <ion-card>
            <ion-card-header>
                <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->

                <ion-item-divider>
                    <div style="width: 100%; text-align: center;">
                        <ion-card-title>
                            <ion-icon name="diamond-outline"></ion-icon> Quienes Somos
                            <ion-icon name="diamond-outline"></ion-icon>
                        </ion-card-title>
                    </div>
                </ion-item-divider>
            </ion-card-header>

            <ion-card-content style="width: 100%; text-align: center;">
                Somos una empresa dedicada a brindar el mejor servicio de venta de equipos tecnologicos y accesorios.
            </ion-card-content>
        </ion-card>
    </ion-item>
    <ion-item routerLink="/catalogo">
        <ion-card>
            <ion-card-header>
                <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->

                <ion-item-divider>
                    <div style="width: 100%; text-align: center;">
                        <ion-card-title>
                            <ion-icon name="sparkles-outline"></ion-icon> Catálogos
                            <ion-icon name="sparkles-outline"></ion-icon>
                        </ion-card-title>
                    </div>
                </ion-item-divider>
            </ion-card-header>

            <ion-card-content style="width: 100%; text-align: center;">
                En esta seccion se puede apreciar muchos de los dispositivos y accesorios que se tiene disponible para la venta.
            </ion-card-content>
        </ion-card>
    </ion-item>
    <ion-item routerLink="/sucursales">
        <ion-card>
            <ion-card-header>
                <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->

                <ion-item-divider>
                    <div style="width: 100%; text-align: center;">
                        <ion-card-title>
                            <ion-icon name="flower-outline"></ion-icon> Sucursales
                            <ion-icon name="flower-outline"></ion-icon>
                        </ion-card-title>
                    </div>
                </ion-item-divider>
            </ion-card-header>

            <ion-card-content style="width: 100%; text-align: center;">
                Aqui podras informarte acerca de las ubicaciones en donde se encuentran nuestras sucursales.
            </ion-card-content>
        </ion-card>
    </ion-item>
    <!-- <ion-app>
        <ion-nav root="nav-home"></ion-nav>
    </ion-app> -->
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-title style="width: 100%; text-align: center;">Camacho - Flores</ion-title>
    </ion-toolbar>
</ion-footer>