<ion-header>
    <ion-toolbar>
        <ion-title style="width: 100%; text-align: center;">ECO-MOVIL</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding="padding" class="getting-started">

    <ion-card>
        <img routerLink="/inicio" src="../assets/media/4.png" alt="">
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>

            </ion-card-subtitle>
            <ion-item-divider>
                <div style="width: 100%; text-align: center;">
                    <ion-card-title>
                        <ion-icon name="diamond-outline"></ion-icon> Quienes Somos
                        <ion-icon name="diamond-outline"></ion-icon>
                    </ion-card-title>
                </div>
            </ion-item-divider>
        </ion-card-header>
        <ion-card-content style="width: 100%; text-align: center;">
            Ser la primera referencia de venta de equipos y accesorios tecnológicos, del mercado nacional, enfocados en dispositivos moviles y accesorios para celulares.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->

            <ion-item-divider>
                <div style="width: 100%; text-align: center;">
                    <ion-card-title>
                        <ion-icon name="snow-outline"></ion-icon> Visión
                        <ion-icon name="snow-outline"></ion-icon>
                    </ion-card-title>
                </div>
            </ion-item-divider>
        </ion-card-header>

        <ion-card-content style="width: 100%; text-align: center;">
            En esta seccion se puede apreciar muchos de los dispositivos y accesorios que se tiene disponible para la venta.
        </ion-card-content>
    </ion-card>


    <ion-card>
        <ion-card-header>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->

            <ion-item-divider>
                <div style="width: 100%; text-align: center;">
                    <ion-card-title>
                        <ion-icon name="star-outline"></ion-icon> Misión
                        <ion-icon name="star-outline"></ion-icon>
                    </ion-card-title>
                </div>
            </ion-item-divider>
        </ion-card-header>

        <ion-card-content style="width: 100%; text-align: center;">
            Buscamos ser reconocidos como la mejor empresa en tecnología movil del país. Además de expandirnos como empresa para liderar el mercado de artículos tecnológicos en Ecuador.
        </ion-card-content>
    </ion-card>


    <ion-card>
        <ion-card-header>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
            <ion-item-divider>
                <div style="width: 100%; text-align: center;">
                    <ion-card-title>
                        <ion-icon name="globe-outline"></ion-icon> Ventas a través de Internet
                        <ion-icon name="globe-outline"></ion-icon>
                    </ion-card-title>
                </div>
            </ion-item-divider>
        </ion-card-header>
        <ion-card-content style="width: 100%; text-align: center;">
            Ofrecemos la más alta variedad de productos, precios atractivos y envíos gratis a todo Ecuador, nos pueden encontrar en Mercado Libre, OLX, Facebook Marketplace y en nuestra Página Oficial.
        </ion-card-content>
    </ion-card>


    <ion-card>
        <ion-card-header>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
            <ion-item-divider>
                <div style="width: 100%; text-align: center;">
                    <ion-card-title>
                        <ion-icon name="earth-outline"></ion-icon> Compromiso al Servicio al Cliente
                        <ion-icon name="earth-outline"></ion-icon>
                    </ion-card-title>
                </div>
            </ion-item-divider>

        </ion-card-header>

        <ion-card-content style="width: 100%; text-align: center;">
            Tenemos el compromiso de entregar productos y servicios de alta calidad. Es muy importante para nosotros mejorar cada día según las necesidades de los clientes.
        </ion-card-content>
    </ion-card>

    <!-- <ion-app>
      <ion-nav root="nav-home"></ion-nav>
  </ion-app> -->
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-title style="width: 100%; text-align: center;">Camacho - Flores</ion-title>
    </ion-toolbar>
</ion-footer>